@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body{
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: #3c56da;

}

li, a, button{
  font-family: "Titillium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;

}
nav{
    margin-left: 60%;
}
header {
display:flex;
justify-content:space-between;
align-items:center;
/* padding: 20px 10%; */
/* background-color: #3c56da; */
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding:0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color:#0088a9;
}
button{
    margin-left: 5px;
  padding: 10px 52px;
  background-color: rgba(0, 136, 169, 1);
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

#main-section{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    /* background-position: 50% 50%; */
    background-image: url("https://images.pexels.com/photos/6724351/pexels-photo-6724351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

#main-section .overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:rgba(145, 194, 100, 0.3);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Titillium Web', sans-serif;
font-size: 70px;}


@media screen and (max-width:1200px){
    nav{
        margin-left: 0;
    }
}